<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.teampsc.cubeat"
	android:versionCode="1"
	android:versionName="1.0">
	<uses-sdk android:minSdkVersion="14"/>
	<uses-feature android:glEsVersion="0x00020000" android:required="true"/>		
  <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE"/> 
  <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/> 
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> 
	<application android:icon="@drawable/cubeat_ico" android:label="CuBeat" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:debuggable="true">
        <activity android:name="PreloadLibraries"
		android:label="CuBeat"
		android:launchMode="singleTask"
		android:configChanges="orientation|keyboardHidden"
		android:screenOrientation="landscape"
		android:clearTaskOnLaunch="true">
		<meta-data android:name="android.app.lib_name" android:value="CuBeat" />						  
		<intent-filter>
                	<action android:name="android.intent.action.MAIN" />
                	<category android:name="android.intent.category.LAUNCHER" />
		</intent-filter>
	</activity>
	</application>
</manifest> 
