# generated bundle
bundle

# game option
option
rc/config/option
rc/config/tmp

# generated executable
bin
obj

# resources
rc/fonts
rc/model
rc/sound
rc/texture

# cmake generated
Makefile
cmake_install.cmake
CMakeLists.txt
CMakeScripts
CMakeCache.txt
CMakeFiles
install_manifest.txt

# luajit ffi needed cdefs from c headers
*.ffi

# android related
*.zip
*.properties
android/bin
android/gen
android/obj
android/libs
android/assets
android/proguard-project.txt

# generated source codes
include/all_fwd.hpp
include/ctrl/Ai.hpp
include/data/Cube.hpp
include/data/MapSetting.hpp
include/data/ViewSetting.hpp
include/model/Chain.hpp
include/model/Cube.hpp
include/model/Map.hpp
include/model/SimpleMap.hpp
include/model/OneFading.hpp
include/model/detail/MapUtils.hpp
include/model/detail/AIUtils.hpp
include/model/state/Dropping.hpp
include/model/state/Dying.hpp
include/model/state/Exploding.hpp
include/model/state/Sinking.hpp
include/model/state/State.hpp
include/model/state/Waiting.hpp
include/presenter/Cube.hpp
include/presenter/Map.hpp
include/presenter/cube/ViewBase.hpp
include/presenter/cube/ViewMaster.hpp
include/presenter/cube/ViewSprite.hpp
include/presenter/cube/ViewStdout.hpp
include/utils/ChainChecker.hpp
include/utils/MapLoader.hpp
include/utils/ObjectPool.hpp
include/utils/Random.hpp
include/utils/math.hpp
include/utils/vector_2d.hpp
src/data/MapSetting.cpp
src/model/Cube.cpp
src/model/Map.cpp
src/model/SimpleMap.cpp
src/model/detail/MapUtils.cpp
src/model/detail/AIUtils.cpp
src/model/state/Dropping.cpp
src/model/state/Dying.cpp
src/model/state/State.cpp
src/model/state/Sinking.cpp
src/model/state/Waiting.cpp
src/presenter/Cube.cpp
src/presenter/Map.cpp
