
[Desktop Entry]
Value=0.5
Type=Application
Name=CuBeat
Categories=Game
Exec=/home/linjack/games/CuBeat/cubeat
Path=/home/linjack/games/CuBeat
Icon=/home/linjack/games/CuBeat/rc/CuBeat.png
Name[en_US]=CuBeat
GenericName[en_US.utf8]=CuBeat 0.5alpha demo
